
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #FFF7DD;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="p-4 rounded-4" style="background-color: #B4DEBD; width: 500px">
            <table>
                <tr>
                    <td class="align-top" style="width: 150px">
                        <h4>Deliver To:</h4>
                    </td>
                    <td>
                        <h3>Jeril Albi</h3>
                        <h4>Kollamaparambil house, vadakkumpuram po, 683521</h4>
                        <h5>8075041750</h5>
                    </td>
                </tr>
                <tr class="mt-4">
                    <td></td>
                    <td>
                        <button class="btn mt-3" type="submit" style="background-color: #FFF7DD; color: black !important ">Proceed</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
