@model List<Ecommerce_Application.Models.ViewOrdersModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Orders</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #FFF7DD;
        }

        .hide-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

            .hide-scrollbar::-webkit-scrollbar {
                display: none;
            }
    </style>
</head>
<body>
    <header>
        <div id="dynamicHeaderContent">
        </div>
    </header>
    <div style="margin-top: 70px; padding: 1rem 5rem">
        <h3>My Orders</h3>
        <div id="orderContainer" class="mt-3 d-flex">
            @Html.Partial("_ViewOrdersSec", Model)
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script>
      $(document).ready(function () {
          $.get('@Url.Action("LoadHeader", "Home")', { isCart: false}, function (data) {
            $('#dynamicHeaderContent').html(data);
        });
      });
    </script>
</body>
</html>

