<div class="card flex-shrink-0" style="width: 10rem; cursor: pointer">
    <img src="https://rukminim2.flixcart.com/image/240/240/xif0q/mobile/r/4/p/-original-imahf47e6gzt3ggw.jpeg?q=60" class="card-img-top" style="max-height: 150px;" alt="product_img">
    <div class="card-body">
        <p class="card-text">Product Name</p>
        <p class="card-text">Price</p>
    </div>
</div>
