@model List<Ecommerce_Application.Models.CartModel>
@{
    Layout = null;
}

@*@{
    ViewData["isCart"] = true;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #FFF7DD;
        }

        .hide-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

            .hide-scrollbar::-webkit-scrollbar {
                display: none;
            }
    </style>
</head>
<body>
    <header>
        <div id="dynamicHeaderContent">
        </div>
    </header>
    <div class="p-3" style="margin-top: 70px">
        <h3>My Cart</h3>
        <div id="cartContainer" class="mt-3 d-flex">
                @Html.Partial("_CartItems", Model)
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script>
      $(document).ready(function () {
          $.get('@Url.Action("LoadHeader", "Home")', { isCart: true}, function (data) {
            $('#dynamicHeaderContent').html(data);
        });
      });
    </script>
</body>
</html>
